
/* Fonts*/
/* @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");*/

/* Variables*/
@import "variables";

/* Bootstrap*/
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*///////////////////////////////////*/
/* Global Styles*/
/*///////////////////////////////////*/

 body {

  background:#f5f4f5;
 }

header {
  padding: 0;
  background: #fff;
}

.container {
  width: 100%;

  -webkit-transform: scale(0.75);
          transform: scale(0.75);

}

.user-container {
  width: 100%;
  height: 50%;
  transform: scale(0.75);
}




.row {
  overflow: hidden;

}



/*///////////////////////////////////*/
/* Primary Navigation*/
/*///////////////////////////////////*/

.primary-navigation a {
  text-decoration: none;
}


.menu {
  padding-left: 20px;
}

ul {
    padding: 0;
    list-style: none;
}

.primary-navigation {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.primary-navigation li {
  cursor:pointer;
}

.signin a:hover {
  text-decoration: none;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    padding-left: 170px;
}

.logo img {
  height: 180px;
  width: 180px;
  }

.signin {
  border-right: 1px solid #989898;
  color: #666;
  font-size: 12px;
  padding-right: 5px;
  line-height: 13px;
  letter-spacing: .08em;
  text-transform: uppercase;

}

.subscribe {
  padding-left: 10px;
  color:#458fb2;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .08em;
}

.createarticle {
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.search {
  padding: 20px;
}

/*************************************/
/* Secondary Navigation*/
/************************************/

.secondary-navigation {
  display: flex;
  width: 100%;
  height: 7px;
  align-items: center;
  justify-content: space-around;
  box-shadow: -1px 6px 6px -6px rgba(0,0,0,0.54);

}


.secondary-navigation li {
  border-right: 1px solid #ccc;
  color: #666;
  cursor: pointer;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  letter-spacing: .08em;
  line-height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: calc(100% / 7);
  }


.secondary-navigation a:hover {
  text-decoration: none;
  color: #fff;

}

.secondary-navigation .business:hover {
  background: #009454;
  transition: all .1s ease-in;
  -webkit-text-decoration: none;
          text-decoration: none;
}

.secondary-navigation .culture:hover {
  background: #392342;
  transition: all .1s ease-in;
  -webkit-text-decoration: none;
          text-decoration: none;
}


.secondary-navigation .gear:hover {
  background: #1d7995;
  transition: all .1s ease-in;
  -webkit-text-decoration: none;
          text-decoration: none;
}

.secondary-navigation .ideas:hover {
  background: #6C7F69;
  transition: all .1s ease-in;
  -webkit-text-decoration: none;
          text-decoration: none;
}


.secondary-navigation .science:hover {
  background: #f4b720;
  transition: all .1s ease-in;
  -webkit-text-decoration: none;
          text-decoration: none;
}


.secondary-navigation .security:hover {
  background: #571300;
  transition: all .1s ease-in;
  -webkit-text-decoration: none;
          text-decoration: none;
}


.secondary-navigation .transportation:hover {
  background: #e04246;
  transition: all .1s ease-in;
  -webkit-text-decoration: none;
          text-decoration: none;
}

.secondary-navigation a {
  color: #666666;
}




/*************************************/
/* Main Body*/
/************************************/


.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
transition: all .2s ease-in;
-webkit-transform: scale(1);
transform: translateY(-5px);

}
  .card1 {

    height: 500px;
    background: #fff;
    border-top: 3px solid #000;
    padding-right: 30px;
    padding-top: 20px;

  }


  .article-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #e4e4e4;
    font-size: 20px;
    padding-left: 10px;
  }

  .article-description {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    color: #000;
  }

  .article-category {
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
    font-size: 20px;
  }

  .article-author {
    text-transform: uppercase;
    font-weight: bold;
    color: #e4e4e4;
    font-size: 20px;
    padding-left: 10px;
  }

  .article-content {
    padding-left: 10px;
    color: #000;
    font-size: 25px;
  }

  .article-image1 {
    margin: 10px;
    width: 100%;
    height:180px;
  }

  .card-description {
    padding-left: 10px;
  }

  .create-post {
    margin-left: 10px;
    text-align: center;
  }

  .user-article {
    text-align: center;
  }

  .post-button {
    margin-bottom: 30px;
    color: #fff;
    background: blue;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
  }

  /*************************************/
  //Comment Box & Likes
  /************************************/

  .comment-input {
    margin-top: 10px;
    width: 100px;
    border: 1px solid #fff;
  }

  .comment-button {
    background: blue;
    color: #fff;
    font-size: 20px;
  }

  .fa-heart {
    font-size: 25px
  }

  .like {
    font-size: 20px;
  }

  .like-count {
    font-size: 20px;
  }



  /*************************************/
  /* Footer*/
  /************************************/

.footer-section {
  // margin-top: 400px;
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: -3px -3px 3px 0 rgba(0,0,0,0.19), 3px 0 3px 0 rgba(0,0,0,0.19), 0 3px 3px 0 rgba(0,0,0,0.23);

}

.footer-links {
  margin-top: -90px
}

.social-icons li {
  float: left;
  padding-left: 10px;
  font-size: 40px
}

.box {
  background: red;
  height: 100px;
  width: 100px;
  display: block;
}

.footer-logo img {
  height: 120px;
  width: 120px;
  margin-left: 55px;
  }
